<!DOCTYPE html>
<html>
<head>
    <title>Listing Page</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h1>Nested Lists</h1>
    <ul class="main-list">
        <li>Fruits
            <ul class="nested-list">
                <li>Apple</li>
                <li>Banana</li>
                <li>Cherry</li>
            </ul>
        </li>
        <li>Vegetables
            <ul class="nested-list">
                <li>Carrot</li>
                <li>Broccoli</li>
                <li>Spinach</li>
            </ul>
        </li>
        <li>Dairy
            <ul class="nested-list">
                <li>Milk</li>
                <li>Cheese</li>
                <li>Yogurt</li>
            </ul>
        </li>
    </ul>
</body>
</html>
